<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Pack_Customer>
            <version>0.1.0</version>
        </Pack_Customer>
    </modules>
    <global>
        <blocks>
            <customer>
                <rewrite>
                    <account_navigation>Pack_Customer_Block_Account_Navigation</account_navigation>
                </rewrite>
            </customer>
        </blocks>
  <frontend>
  <routers>
     <customer>
         <args>
           <modules>
             <Pack_Customer before="Mage_Customer">Pack_Customer</Pack_Customer>
           </modules>
           <modules>
             <Pack_Profile before="Mage_Customer">Pack_Profile</Pack_Profile>
           </modules>
         </args>
     </customer>     
   </routers>
  </frontend>       
<translate>
  <modules>
    <Pack_Customer>
      <files>
        <default>Pack_Customer.csv</default>
       </files>
    </Pack_Customer>
  </modules>
</translate>
<frontend>
        <layout>
            <updates>
                    <checkout>
    	                 <file>customermod.xml</file>
    		</checkout>
    	</updates>
    </layout>
</frontend>
    </global>  
</config>