<?xml version="1.0"?>
<config>
	<modules>
		<TC_Varnish>
			<version>0.0.1</version>
		</TC_Varnish>
	</modules>
	<global>
		<helpers>
			<tc_varnish>
				<class>TC_Varnish_Helper</class>
			</tc_varnish>
		</helpers>
		<models>
			<tc_varnish>
				<class>TC_Varnish_Model</class>
			</tc_varnish>
		</models>
		<blocks>
			<tc_varnish>
				<class>TC_Varnish_Block</class>
			</tc_varnish>
			<adminhtml>
				<rewrite>
					<cache>TC_Varnish_Block_Adminhtml_Cache</cache>
				</rewrite>
			</adminhtml>
		</blocks>
	</global>
	<frontend>
		<routers>
			<varnish>
				<use>standard</use>
				<args>
					<module>TC_Varnish</module>
					<frontName>varnish</frontName>
				</args>
			</varnish>
		</routers>
		<layout>
			<updates>
				<tc_varnish>
					<file>varnish.xml</file>
				</tc_varnish>
			</updates>
		</layout>
	</frontend>
	<adminhtml>
		<layout>
			<updates>
				<tc_varnish>
					<file>varnish.xml</file>
				</tc_varnish>
			</updates>
		</layout>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<tc_varnish translate="title" module="tc_varnish">
											<title>Varnish Cache</title>
										</tc_varnish>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<TC_Varnish before="Mage_Adminhtml">TC_Varnish_Adminhtml</TC_Varnish>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<default>
		<tc_varnish>
			<general>
				<active>0</active>
			</general>
		</tc_varnish>
	</default>
</config>