<?xml version="1.0"?>
<config>
    <modules>
        <TC_Catalog>
            <version>0.0.1</version>
        </TC_Catalog>
    </modules>
    <global>
        <helpers>
            <tccatalog>
                <class>TC_Catalog_Helper</class>
            </tccatalog>
            <catalog>
                <rewrite>
                    <data>TC_Catalog_Helper_Data</data>
                </rewrite>
            </catalog>
        </helpers>
        <blocks>
            <tccatalog>
                <class>TC_Catalog_Block</class>
            </tccatalog>
        </blocks>
    </global>
    <default>
        <catalog>
            <frontend>
                <color_is_enabled>1</color_is_enabled>
                <color_attribute_code>dim1</color_attribute_code>
            </frontend>
        </catalog>
    </default>
</config>
