<?xml version="1.0"?>

<config>
    <modules>
        <TC_Import>
            <version>0.0.1</version>
        </TC_Import>
    </modules>
    <global>
        <helpers>
            <tcimport>
                <class>TC_Import_Helper</class>
            </tcimport>
        </helpers>
        <models>
            <tcimport>
                <class>TC_Import_Model</class>
            </tcimport>
        </models>
        <events>
            <sales_quote_item_qty_set_after>
                <observers>
                    <check_availability_and_price>
                        <class>tcimport/observer</class>
                        <method>checkItem</method>
                    </check_availability_and_price>
                </observers>
            </sales_quote_item_qty_set_after>
        </events>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <tcimport_database>
                                            <title>Database configuration</title>
                                            <sort_order>100</sort_order>
                                        </tcimport_database>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <tcimport_database>
            <tcimport_database_group>
                <host>188.40.70.149</host>
                <user>gavich</user>
                <password>1234qwe</password>
                <name>otto</name>
            </tcimport_database_group>
            <tcimport_import_group>
                <logs>0</logs>
                <multiplier>10.53</multiplier>
            </tcimport_import_group>
            <tcimport_additional_group>
                <host>88.198.10.242</host>
                <user>api</user>
                <password>qwe123</password>
                <name>parser_otto</name>
                <logs>1</logs>
            </tcimport_additional_group>
        </tcimport_database>
    </default>
    <crontab>
        <jobs>
            <tcimport_categories>
                <schedule>
                    <cron_expr>0 1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>tcimport/cron::importCategories</model>
                </run>
            </tcimport_categories>
        </jobs>
    </crontab>
</config>
