<?xml version="1.0"?>
<config>
    <modules>
        <Itdelight_Paycouriers>
            <version>0.1.1</version>
        </Itdelight_Paycouriers>
    </modules>
    <global>
        <models>
            <paycouriers>
                <class>Itdelight_Paycouriers_Model</class>
            </paycouriers>
        </models>
        <helpers>
            <paycouriers>
                <class>Itdelight_Paycouriers_Helper</class>
            </paycouriers>
        </helpers>
        <blocks>
            <paycouriers>
                <class>Itdelight_Paycouriers_Block</class>
            </paycouriers>
        </blocks>
    </global>
    
    <default>
        <payment>
            <paycouriers>
                <active>1</active>
                <model>paycouriers/paycouriers</model>
                <order_status>processing</order_status>
                <title>Payment by cash couriers</title>
            </paycouriers>
         </payment>
    </default>
</config>