<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Itdelight_Metadata>
            <version>0.1.0</version>
        </Itdelight_Metadata>
    </modules>
    <global>
        <events>
            <catalog_product_load_after>
                <observers>
                    <itdelight_product_metadata_observer>
                     <type>singleton</type>
                      <class>Itdelight_Metadata_Model_Observer</class>
                      <method>add_custom_metadata</method>
                    </itdelight_product_metadata_observer>
                </observers>
            </catalog_product_load_after>
            <catalog_category_load_after>
                <observers>
                    <itdelight_category_metadata_observer>
                        <type>singleton</type>
                        <class>Itdelight_Metadata_Model_Observer</class>
                        <method>add_custom_category_metadata</method>
                    </itdelight_category_metadata_observer>
                </observers>
            </catalog_category_load_after>
        </events>
        <models>
          <metadata>
            <class>Itdelight_Metadata_Model</class>
            <resourceModel>metadata_mysql4</resourceModel>
          </metadata>
        <metadata_mysql4>
            <class>Itdelight_Metadata_Model_Mysql4</class>
            <entities>
                <metadata>
                    <table>itdelight_metadata</table>
                </metadata>
            </entities>
        </metadata_mysql4>
        </models>
        <helpers>
            <metadata>
                <class>Itdelight_Metadata_Helper</class>
            </metadata>
        </helpers>
        <blocks>
            <metadata>
                <class>Itdelight_Metadata_Block</class>
            </metadata>
        </blocks>
     <resources>
        <metadata_write>
            <connection>
                <use>core_write</use>
            </connection>
        </metadata_write>
        <metadata_read>
            <connection>
                <use>core_read</use>
            </connection>
        </metadata_read>
      <metadata_setup>
        <setup>
            <module>Itdelight_Metadata</module>
            <class>Itdelight_Metadata_Model_Resource_Mysql4_Setup</class>
        </setup>
        <connection>
            <use>core_setup</use>
        </connection>
    </metadata_setup>
    </resources>  
    </global>
  <admin>
        <routers>
            <metadata>
                <use>admin</use>
                <args>
                    <module>Itdelight_Metadata</module>
                    <frontName>metadata</frontName>
                </args>
            </metadata>
        </routers>
 </admin>
 <adminhtml>
         <layout>
            <updates>
                <metadata>
                    <file>itdelight/metadata.xml</file>
                </metadata>
            </updates>
        </layout>
  </adminhtml>
</config>