<?xml version="1.0"?>
<config>
    <modules>
        <TC_Seo>
            <version>0.1.0</version>
        </TC_Seo>
    </modules>
    <global>
        <blocks>
            <tc_seo>
                <class>TC_Seo_Block</class>
            </tc_seo>
        </blocks>
        <helpers>
            <tc_seo>
                <class>TC_Seo_Helper</class>
            </tc_seo>
        </helpers>
        <events>
            <catalog_controller_category_init_after>
                <observers>
                    <tcseo_category_init_after>
                        <type>singleton</type>
                        <class>TC_Seo_Model_Observer</class>
                        <method>categoryInitAfter</method>
                    </tcseo_category_init_after>
                </observers>
            </catalog_controller_category_init_after>
        </events>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <TC_Seo>
                    <files>
                        <default>TC_Seo.csv</default>
                    </files>
                </TC_Seo>
            </modules>
        </translate>
    </adminhtml>
</config>
