<?xml version="1.0"?>
<config>
    <modules>
        <TC_Breadcrumbs>
            <version>0.1.0</version>
        </TC_Breadcrumbs>
    </modules>
    <global>
        <blocks>
            <tc_breadcrumbs>
                <class>TC_Breadcrumbs_Block</class>
            </tc_breadcrumbs>
            <page>
                <rewrite>
                    <html_breadcrumbs>TC_Breadcrumbs_Block_Breadcrumbs</html_breadcrumbs>
                </rewrite>
            </page>
        </blocks>
    </global>
</config>
